/*table*/
div#NotesTableContainer {
	max-width: max-content;
}

div#LessonsTableContainer {
	max-width: max-content;
}

 /* delete*/
button div.Delete {
	color: white;
	position: absolute;
	margin-left: 16px;
	margin-top: -3px;
	width: 9px;
	height: 10px;
	border-left: solid 1px white;
	border-right: solid 1px white;
	border-bottom: solid 1px white;
	border-radius: 0 0 2px 2px;
	transition: 0.2s ease-in;
}
  
button div.Delete:before {
	content: '';
	position: absolute;
	left: -3px;
	top: -2px;
	width: 13px;
	height: 1px;
	background-color: white;
	transition: 0.2s ease-in;
}
  
button div.Delete:after {
	content: '';
	position: absolute;
	left: 1px;
	top: -5px;
	width: 4px;
	height: 2px;
	border-left: solid 1px white;
	border-right: solid 1px white;
	border-top: solid 1px white;
	border-radius: 4px 4px 0 0;
	transition: 0.2s ease-in;
}
  
button div.InnerDelete {
	width: 3px;
	height: 7px;
	border-left: solid 1px white;
	border-right: solid 1px white;
	transition: 0.2s ease-in;
}

/*delete hover*/
/* #DeleteBtn:hover {
	background: linear-gradient(145deg, #e64b65, #ff5978);
} */

button:hover div.Delete {
	margin-top: -2px;
	transition: 0.2s ease-in;
}
  
button:hover div.Delete:before {
	top: -5px;
	transition: 0.2s ease-in;
}
  
button:hover div.Delete:after {
	top: -8px;
	transition: 0.2s ease-in;
}

button div.Code {
	color: white;
	position: absolute;
	margin: -3px 13px;
}
 
button div.Code:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-left: solid 1px white;
	border-top: solid 1px white;
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}
  
button div.Code:after {
	content: '';
	position: absolute;
	left: 6px;
	width: 8px;
	height: 8px;
	border-bottom: solid 1px white;
	border-right: solid 1px white;
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

button:hover div.Code:before {
	left: -2px;
}

button:hover div.Code:after {
	left: 8px;
}
  
  