.Minibrowser {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

#BrowserHeader {
	margin-bottom: 30px;
	height: 40px;
}

/*-----BUTTONS------*/
#MiniBrowserBtns button {
	position: relative;
}

#MiniBrowserBtns button:not(:last-child) {
	margin-right: var(--little-unit);
}
 
div.Run {
	position: absolute;
	margin-left: 13px;
	margin-top: -7px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	border-left: solid 2px transparent;
	border-right: solid 2px white;
	transition: 0.5s;
  }
  
  div.Run:before {
	content: '';
	position: absolute;
	left: -1px;
	top: 8px;
	width: 6px;
	height: 6px;
	border-top: solid 2px white;
	border-left: solid 2px white;
	-webkit-transform: rotate(-22.5deg);
			transform: rotate(-22.5deg);
	transition: 0.5s ease-out;
  }

#RunBtn:hover div.Run {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
}

div.Chat {
	color: white;
	position: absolute;
	margin-left: 9px;
	margin-top: -8px;
	width: 22px;
	height: 15px;
	border: solid 2px white;
	border-radius: 2px;
  }
  
  div.Chat:before {
	content: '';
	position: absolute;
	left: 8px;
	top: 9px;
	width: 7px;
	height: 7px;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	background-color: var(--primary);
	border-bottom: solid 2px white;
	border-right: solid 2px white;
  }

  button.CTA div.Chat:before {
	  background-color: var(--secondary);
  }

/*------IFRAME-------*/

#IframeContainer {
	/* padding: 0 0 var(--standard-unit) 0; */
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}
  
iframe {
	overflow: visible;
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	background-color: white;
	border-radius: var(--little-unit);
	box-shadow: rgba(10, 37, 64, 0.35) 0px 0px 11px 0px inset;
	transition: 0.1s ease-in;
}

#LessonName {
	margin-right: var(--large-unit);
}

#LessonName p {
	width: max-content;
	margin-right: var(--little-unit);
} 

#LessonName input {
	width: calc(var(--large-unit)*6);
} 
