@-webkit-keyframes save-before-animation {
	0% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(-4px);
			  transform: translateY(-4px);
	}
}
@keyframes save-before-animation {
	0% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(-4px);
			  transform: translateY(-4px);
	}
}

@-webkit-keyframes save-after-animation {
	0% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(-5px);
			  transform: translateY(-5px);
	}
}
@keyframes save-after-animation {
	0% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(0) rotate(135deg);
			  transform: translateY(0) rotate(135deg);
	}
	100% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	  -webkit-transform: translateY(-5px) rotate(135deg);
			  transform: translateY(-5px) rotate(135deg);
	}
}


* {
	box-sizing: border-box;
} 
  
#DeskContainer {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 5fr;
	grid-template-rows: calc(100vh - 84px);
	grid-gap: calc(var(--large-unit)*0.75);
	padding: 0 calc(var(--large-unit)*0.75);
	height: calc(100vh - 84px);
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}
  
  /*--------- TAB --------- */

#Tab {
	margin-bottom: 30px;
}

#Tab button {
	margin-right: calc(var(--standard-unit)*0.75);
}

#Tab button:last-child {
	margin-right: 0;
}
  
div.Play {
	color: white;
	width: 15px;
	height: 15px;
	margin-left: 11px;
	border-right: solid 2px white;
	border-top: solid 2px white;
	 -webkit-transform: rotate(45deg) translate(-2px, 2px);
			transform: rotate(45deg) translate(-2px, 2px);
	transition: 0.2s;
  }

  div.Play:after {
	content: '';
	position: absolute;
	color:white;
	width: 1px;
	height: 20px;
	border-left: solid 2px white;
			transform: rotate(-45deg) translate(2px, -3px);
  }
  
  div.Pause {
	color: white;
	width: 12px;
	height: 12px;
	margin-left: 14px;
	border-right: solid 2px white;
	border-left: solid 2px white;
	transition: 0.2s;
  }
  
  div.Save {
	position: absolute;
	margin-left: 11px;
	margin-top: 3px;
	width: 18px;
	height: 5px;
	border-radius: 1px;
	border: solid 2px white;
	border-top: none;
  }
  
  div.Save:before {
	content: '';
	position: absolute;
	left: 6px;
	top: -11px;
	width: 2px;
	height: 11px;
	background-color: white;
  }
  
  div.Save:after {
	content: '';
	position: absolute;
	left: 4px;
	top: -6px;
	width: 6px;
	height: 6px;
	border-top: solid 2px white;
	border-right: solid 2px white;
	-webkit-transform: rotate(135deg);
			transform: rotate(135deg);
  }

#SaveBtn:hover div.Save:before {
	-webkit-animation: save-before-animation 0.5s ease-in alternate infinite;
	        animation: save-before-animation 0.5s ease-in alternate infinite;
}

#SaveBtn:hover div.Save:after {
	-webkit-animation: save-after-animation 0.5s ease-in alternate infinite;
	        animation: save-after-animation 0.5s ease-in alternate infinite;
}
  
.panel {
	height: 75vh;
	max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: calc(var(--large-unit)/2)
}

  /*--------- EDITORS --------- */

.EditorsWrapper {
	height: 100%;
	width: 100%;
	max-width: 100%;
	padding: var(--standard-unit);
}
  
  /*--------- VIDEOS --------- */
  
#VideoContainer {
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: var(--little-unit);
	display: flex;
	align-items: flex-end;
}
  
.Video {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #5e1447;
	overflow: hidden;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
