@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary: #273238;
  --primary-light: #3d4f58;
  --primary-dark:#111618;
  --secondary:#2d749a;
  --secondary-light: #47b6f2;;
  --standard-unit: 2rem;
  --little-unit: 1rem;
  --large-unit: 5rem;
}

::-webkit-scrollbar {
  width: var(--little-unit);
}

::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px #133242, 
              inset -1px -1px 2px #47b6f2;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width:calc(var(--standard-unit)/2);
  background: var(--primary);
  box-shadow: inset 1px 1px 2px #111618, 
              inset -1px -1px 2px #3d4f58;
}

*, *:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 12px;
  font-family: 'Ubuntu', serif;
}

body {
	margin: 0;
	background-color: var(--primary);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

.BgPrimary {
  background-color: var(--primary);
}

.CenteredText {
  text-align: center;
}

.Flex {
  display: flex;
}

.Column {
  flex-direction: column;
}

.CenteredVHContent {
  align-items: center;
  justify-content: center;
}

.AlignCenterContent {
  align-items: center;
}

.JustifyCenterContent {
  justify-content: center;
}

.SpaceBetween {
  justify-content: space-between;
}

button.NeuBtn, input.NeuBtn {
  cursor: pointer;
  width: auto;
  height: 30px;
  color: white;
  padding: 0 var(--standard-unit);
  border: none;
  border-radius: var(--little-unit);
  background: linear-gradient(145deg, #2a363c, #232d32);
  box-shadow:  5px 5px 10px #111618, 
              -5px -5px 10px #3d4f58;
  transition: 0.5s;
  transition-timing-function: ease-out;    
}

button.NeuBtn:hover, input.NeuBtn:hover {
  color:var(--secondary-light);
  background: linear-gradient(145deg, #232d32, #2a363c);
  box-shadow:  3px 3px 5px #111618, 
              -3px -3px 5px #3d4f58;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

button.NeuBtn:active, button.NeuBtn.Down, input.NeuBtn:active, input.NeuBtn.Down {
  background: linear-gradient(145deg, #29688b, #307ca5);
  box-shadow: 3px 3px 5px #111618, 
              -3px -3px 5px #3d4f58,
              inset 5px 5px 10px #133242, 
              inset -5px -5px 10px #47b6f2;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

/* button.NeuBtn:active, button.NeuBtn.Down {
  background: var(--primary);
  color: var(--secondary-light);
  box-shadow: inset 5px 5px 10px #111618, 
              inset -5px -5px 10px #3d4f58;
  transition: 0.5s;
  transition-timing-function: ease-out;
} */

button.NeuBtn.Down:hover, input.NeuBtn.Down:hover {
  color: white; 
  transition: 0.5s;
  transition-timing-function: ease-out;
}

button.NeuBtn.Down:hover div {
  border-color: white;
}

button.IconBtn, input.IconBtn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
}

div.Card, form.Card {
  border-radius: var(--little-unit);
  box-shadow:  7px 7px 14px #101416, 
             -7px -7px 14px #3e505a;
}

div.InsetCard, form.InsetCard, input.InsetCard { 
  border-radius: var(--little-unit);
  box-shadow: inset 7px 7px 14px#101416, 
            inset -7px -7px 14px #3d4f58;
}

.text {
  color: rgb(235, 235, 235);
}

.Input {
  border: none;
	padding: calc(var(--little-unit)/2) calc(var(--little-unit)*2);
	background: #e7e7e7;
	box-shadow: inset 5px 5px 6px #999898, 
				inset -5px -5px 6px #ffffff;
	border-radius: 30px;
}

div.FormContainer {
  padding: var(--large-unit);
}

div.TableContainer {
  padding: var(--standard-unit);
}

div.TableContainer table {
  padding: var(--little-unit);
  border-collapse: collapse;
  margin: 0;
}

div.TableContainer tr {
  padding: var(--little-unit);
  border-bottom: 1px solid var(--primary-light);
}

div.TableContainer td, div.TableContainer th {
  padding: var(--little-unit) var(--standard-unit);
  border: none;
  border-bottom: 1px solid var(--primary-light);
}

div.TableContainer tr:last-child, div.TableContainer td:last-child {
  padding: var(--little-unit);
  border: none;
}
