section.SectionTemplate {
	padding: 0 var(--large-unit) var(--large-unit);
	display: grid;
	gap: var(--large-unit);
	margin-bottom: var(--large-unit);
}

section.SectionTemplate h3 {
	margin-top: 70px;
	color: white;
}

section.SectionTemplate p {
	font-size: 1.3rem;
}

section.SectionTemplate.Regular {
	grid-template-columns: 1fr 3fr;
}

section.SectionTemplate.Regular h3, section.SectionTemplate.Regular p {
	text-align: right;
}

section.SectionTemplate.Reversed {
	grid-template-columns: 3fr 1fr;
}

section.SectionTemplate.Reversed h3, section.SectionTemplate.Reversed p {
	text-align: left;
}


section.SectionTemplate.Regular .Description {
	grid-area: 1 / 1 / 2 / 2;
}

section.SectionTemplate.Regular .SectionChildProp {
	grid-area: 1 / 2 / 2 / 3;
}

section.SectionTemplate.Reversed .Description {
	grid-area: 1 / 2 / 2 / 3;
}

section.SectionTemplate.Reversed .SectionChildProp {
	grid-area: 1 / 1 / 2 / 2;
}
