.Header {
	position: relative;
	height: 100vh/*calc(100vh - 70px)*/;
	width: 100vw;
	max-width: 100%;
	padding: 0 var(--large-unit);
	margin-bottom: var(--large-unit);
	overflow: hidden;
}

#TitleHeader {
	margin: var(--large-unit) 0 var(--standard-unit);
}

#description {
	font-size: 2rem;
	width: 40vw;
	margin: 0 0 var(--standard-unit);
}

.Header img {
	position: absolute;
	top: var(--standard-unit);
	right: 5vw;
	z-index: -1;
	width: 60vw;
}

.Header button.NeuBtn {
	font-size: 2rem;
	height: 4rem;
}