.Header {
	position: relative;
	width: 100vw;
	max-width: 100%;
	padding: 0 var(--large-unit);
	margin-bottom: var(--large-unit);
}

.Header .ContentWrapper {
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	gap: var(--standard-unit);
}

#TitleHeader {
	margin: var(--large-unit) 0 var(--standard-unit);
}

#TitleHeader h1 {
	line-height: 90%;
}

#description {
	font-size: 2rem;
	margin-bottom: var(--large-unit);
}

.Header .imgContainer {
	width: 100%;
	height: 100%;
}

.Header .imgContainer img {
	width: 100%;
	max-width: 550px;
	height: auto;
}

.Header button.NeuBtn {
	font-size: 2rem;
	height: 4rem;
}